body {
  text-align: center;
  font-weight: 200;
  // display: flex;
  background: url('../images/import/test.svg');
}

div {
  // display: flex;
  height: 20vw;
  width: 20vw;
  background: url('../images/import/test2.svg');
}

span {
  display: block;
  height: 100px;
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: url('../images/import/batman.svg');
}
