<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% preloadFonts '' %}
  <link href="{{ '/assets/css/main.css' | getPath }}" rel="stylesheet">
  <script defer src="{{ '/assets/js/main.js' | getPath }}"></script>
  <title>{{ title }} — My new 11ty website</title>
  <meta name="description" content="{{ description }}">
  {% headTags title, description, thumbnail, page.url, type, robots %}
<meta name="msapplication-config" content="{{ '/browserconfig.xml' | hash }}"><meta name="theme-color" content="#fff"><link rel="icon" sizes="32x32" href="/favicon-32x32.57dd0187.png"><link rel="icon" sizes="16x16" href="/favicon-16x16.72035243.png"><link rel="apple-touch-icon"  href="/apple-touch-icon.6eb46d24.png"><link rel="manifest" href="{{ '/manifest.webmanifest' | hash }}"></head>