---

thumbnail: /assets/images/thumbnail.png
type: website
description: A great description for my super website.

---

<!doctype html>
<html lang="en">

  {% include 'head.njk' %}

  <body>

    {{ content | safe }}

    {# <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => navigator.serviceWorker.register('/sw.js'))
      }
    </script> #}

  </body>

</html>
