---

thumbnail: /assets/images/thumbnail.png
type: website
description: A great description for my super website.
robots: index, follow

---

<!doctype html>
<html lang="en">

  {% include 'head.njk' %}

  <body>

    {{ content | safe }}

    <div></div>

  </body>

</html>
